<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bFile">
 <insert id="insert">
 INSERT into board_file
 (
 	uuid,
 	uploadPath,
 	fileName,
 	bno,
 	filetype	
 )
 VALUES
 (
 	#{uuid},
 	#{uploadPath},
 	#{fileName},
 	#{bno},
 	#{filetype}
 	
 )
 </insert>

<delete id="delete">
DELETE FROM board_file
WHERE uuid=#{uuid}

</delete>

<select id="findByBno" resultType="com.spring.board.dvo.BoardFileVO">
 SELECT 
 	uuid,
 	uploadPath,
 	fileName,
 	bno,
 	filetype,
 	reg_data
 FROM
  board_file
 WHERE
  bno=#{bno}
</select>

</mapper>
