<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shoping">
	<select id="bestItem"
		resultType="com.spring.shoping.dvo.ProductVO">
		SELECT
		p.pseq,
		name,
		price2,
		image,
		NVL(l.love_check,0) loveCh
	
		FROM PRODUCT p LEFT JOIN  pr_love l ON p.pseq=l.pseq
		WHERE
		bestyn='y'
		AND
		rownum &lt;= 4
		ORDER BY indate DESC

	</select>
	
	
	<select id="allList" parameterType="java.util.Map"
		resultType="com.spring.shoping.dvo.ProductVO">
		<include refid="pageHeader"></include>
		SELECT
		pseq,
		name,
		DECODE(kind,'1','0','0'),
		price1,
		price2,
		price3,
		image,
		content,
		indate,
		useyn,
		bestyn
		FROM PRODUCT
		WHERE
		<include refid="search"/>
		<include refid="pageFooter"></include>
	</select>
	
	<select id="listAllCount" resultType="int" parameterType="java.util.Map">
		SELECT
		 COUNT(pseq)
		FROM PRODUCT
		WHERE
		<include refid="search"/>
	</select>
	
	<select id="newItem"
		resultType="com.spring.shoping.dvo.ProductVO">
		SELECT
		p.pseq,
		name,
		price2,
		image,
		NVL(l.love_check,0) loveCh
		FROM PRODUCT p LEFT JOIN  pr_love l ON p.pseq=l.pseq
		WHERE
		rownum &lt;=4
		AND
		useyn='y'
		ORDER BY indate DESC


	</select>
	<select id="readItem"
		resultType="com.spring.shoping.dvo.ProductVO">
		SELECT
		pseq,
		name,
		kind,
		price1,
		price2,
		price3,
		image,
		content,
		indate,
		useyn,
		bestyn
		FROM PRODUCT
		WHERE
		pseq=#{pseq}

	</select>
	<select id="catagory" parameterType="java.util.Map"
		resultType="com.spring.shoping.dvo.ProductVO">
		<include refid="pageHeader" />
		SELECT
		p.pseq,
		name,
		kind,
		price1,
		price2,
		price3,
		image,
		content,
		indate,
		useyn,
		bestyn,
		NVL(l.love_check,0) loveCh
		FROM PRODUCT p LEFT JOIN  pr_love l ON p.pseq=l.pseq
		WHERE
		kind=#{kind}
		AND
		<include refid="search"/>
		ORDER BY indate DESC
		<include refid="pageFooter" />
	</select>
	<select id="pageCount" resultType="int" parameterType="java.util.Map">
		SELECT
		count(pseq)
		FROM PRODUCT
		WHERE
		kind=#{kind}
		AND
		<include refid="search"/>
	</select>
	<select id="catagoeyTitle" resultType="String">
		SELECT
		DECODE(kind,0,'ALL',1,'Heels',2,'Boots',3,'Sandals',4,'Sneakers',5,'on Sale') as title
		FROM PRODUCT
		WHERE
		kind=#{kind}
		AND
		ROWNUM=1

	</select>


	<sql id="pageHeader">
		SELECT * FROM(
		SELECT ROWNUM AS rn,A.*FROM(


	</sql>
	<sql id="pageFooter">
		)A
		)WHERE rn BETWEEN #{pageVO.startPage} AND
		#{pageVO.endPage}

	</sql>
	<sql id="search">
		 	name LIKE '%'||#{pageVO.keyword}||'%'
	</sql>


</mapper>